<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>xueshe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <filter>
    <filter-name>FilterOne</filter-name>
    <filter-class>xueshe.com.control.FilterOne</filter-class>
  </filter>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>xueshe.com.control.loginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>loginFilterTwo</filter-name>
    <filter-class>xueshe.com.control.loginFilterTwo</filter-class>
  </filter>
  <filter>
    <filter-name>myCourseFilter</filter-name>
    <filter-class>xueshe.com.control.myCourseFilter</filter-class>
  </filter>
  <filter>
    <filter-name>courseInfoFilter</filter-name>
    <filter-class>xueshe.com.control.courseInfoFilter</filter-class>
  </filter>
  <filter>
    <filter-name>BackendLoginFilter</filter-name>
    <filter-class>xueshe.com.control.BackendLoginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>BackendClubListFilter</filter-name>
    <filter-class>xueshe.com.control.BackendClubListFilter</filter-class>
  </filter>
  <filter>
    <filter-name>BackendCourseListFilter</filter-name>
    <filter-class>xueshe.com.control.BackendCourseListFilter</filter-class>
  </filter>
  <filter>
    <filter-name>BackendStudentListFilter</filter-name>
    <filter-class>xueshe.com.control.BackendStudentListFilter</filter-class>
  </filter>
  <filter>
    <filter-name>BackendStudentCourseListFilter</filter-name>
    <filter-class>xueshe.com.control.BackendStudentCourseListFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterOne</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/club.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilterTwo</filter-name>
    <url-pattern>/StudentPassword.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>myCourseFilter</filter-name>
    <url-pattern>/myCourse.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>courseInfoFilter</filter-name>
    <url-pattern>/courseInfo.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BackendLoginFilter</filter-name>
    <url-pattern>/backend/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BackendClubListFilter</filter-name>
    <url-pattern>/backend/clublist.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BackendCourseListFilter</filter-name>
    <url-pattern>/backend/courselist.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BackendStudentListFilter</filter-name>
    <url-pattern>/backend/studentlist.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BackendStudentCourseListFilter</filter-name>
    <url-pattern>/backend/studentcourselist.jsp</url-pattern>
  </filter-mapping>
</web-app>